<!-- <div>
  <app-card>
    <div>this is the last one</div>
    <p title>this is the first card component</p>
    <p body>This is teh body</p>

    <div>this is the default one</div>
  </app-card>
</div>

<div>
  <app-card>
    <p title>This is the second card component</p>
    <p body>This is the body of second one</p>
    <div>this is the default one</div>
  </app-card>
</div>

<!-- <div>
  <app-profile></app-profile>
</div>

<div class="hi-leela">
  <app-profile></app-profile>
</div>

<div>
  <app-counter
    [dummynamecounter]="counter"
    message="welcome message"
    [showcounter]="'false'"
    [counterTitle]="title"
  ></app-counter>
</div>

<div>
  <app-getter-input [title]="title"></app-getter-input>
</div>

<div>
  <app-panel (childEvent)="dataReceived($event)"></app-panel>
</div>

<div *ngIf="receivedDataFromChild">{{ receivedDataFromChild }}</div> -->

<div>
  <app-hover-click></app-hover-click>
</div>
